jaxb-annotate-parent/tests/jap-69/src/main/resources/xsd/a/a.xsd

<xsd:schema targetNamespace="http://www.foo.com/schemas/bar/management/input/v1"
            xmlns="http://www.foo.com/schemas/bar/management/input/v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:p1="http://www.foo.com/schemas/commonbutamazing/v2">

  <xsd:import namespace="http://www.foo.com/schemas/commonbutamazing/v2" schemaLocation="../common/common.xsd"/>

  <xsd:element name="aType" type="AType"/>

  <xsd:complexType name="AType">
    <xsd:sequence>
      <xsd:element name="a" type="p1:CommonType"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
